.btn{
  background-color: $color-1;
  color: $color-0;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  text-decoration: none;
}